<!DOCTYPE html>
<html lang="{{ Culture.Name }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ Site.SiteName }}</title>
	{% shape "Metas" %}
    <link rel="icon" type="image/x-icon" href="/TheResumeTheme/favicon.ico" />
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    {% style name:"Resume", version:"6" %}
    {% script name:"font-awesome", version:"5" %}
    {% script name:"font-awesome-v4-shims", version:"5" %}
    {% resources type: "Meta" %}
    {% resources type: "HeadLink" %}
    {% resources type: "Stylesheet" %}
    {% resources type: "HeadScript" %}
  </head>
  <body id="page-top">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">{{ Site.SiteName }}</span>
        <span class="d-none d-lg-block">
		  {% shape "Profile" %}
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">        
        {% shape "menu", alias: "alias:main-menu", cache_id: "main-menu", cache_duration: "00:05:00", cache_tag: "alias:main-menu" %}
      </div>
    </nav>
    <div class="container-fluid p-0">
      {% render_body %}
    </div>
    {% render_section "Footer", required: false %}
    {% script name:"Resume", version:"6" %}
    {% resources type: "FootScript" %}
  </body>
</html>